.tabela-especialidades {
    width: 100%;
    border-collapse: collapse;
}

.tabela-especialidades th,
.tabela-especialidades td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.tabela-especialidades th {
    background-color: #f2f2f2;
}

.tabela-especialidades tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-especialidades input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
}