<br>
<table class="tabela-especialidades">
    <thead>
        <tr>
            <th>Especialidade</th>
            <th>Sem Arca Saúde</th>
            <th class="colored">Com Arca Saúde</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let especialidade of especialidades ">
            <td>{{ especialidade.especialidade }}</td>
            <td>{{ especialidade.semArcaSaude }}</td>
            <td class="colored">{{ especialidade.comArcaSaude }}</td>
        </tr>
    </tbody>
</table>