<div class="top-menu">
    <ul class="top-menu-list">
        <li class="menu-item">
            <a routerLink="/tabela-precos" routerLinkActive="active">Consultas com Desconto</a>
        </li>
        <li class="menu-item">
            <a routerLink="/calculo-precos" routerLinkActive="active">Cálculo de Planos</a>
        </li>
        <li class="menu-item">
            <a routerLink="/add-contato" routerLinkActive="active">Adicionar contatos</a>
        </li>
        <li class="menu-item">
            <a routerLink="/list-contato" routerLinkActive="active">Lista de contatos</a>
        </li>
        <li class="menu-item">
            <a routerLink="/componente3" routerLinkActive="active">Sugestões</a>
        </li>
        <li class="menu-item">
            <a (click)="authService.SignOut()" routerLinkActive="active">Sair</a>
        </li>
    </ul>
</div>


<br>